:root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

ul li {
	list-style: none;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	min-width: 80px;
	min-height: 80px;
	border-radius: 15px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1.5em;
	font-weight: 500;
	font-family: inherit;

	cursor: pointer;
	transition: border-color 0.25s;
	margin: 5px;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

.board-row {
	display: flex;

}

.status {
	font-size: 1.5em;
	margin-bottom: 35px;
	font-weight: 500;
	padding: 20px;
	border-radius: 14px;
	background-color: #f9f9f9;
	border: 1px solid transparent;
	transition: border-color 0.25s;
}



.game {
	display: flex;
	gap: 25px;
	min-height: 100vh;

	@media (max-width: 570px) {
		flex-direction: column;
	}
}

.game-board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.moves {
	font-size: 1em;
	min-height: 20px;
}

.history-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.current-move {

	color: #321eec;
	padding: 1.2em;
	margin: 5px;

}

.title-tic {
	font-size: 2em;
	margin-bottom: 40px;
}